<h1>Repeat Counter</h1>

<form action="/results" method="post">
  <label for="sentence">Enter a sentence: </label>
  <input id="sentence" name="sentence" type="text">
  <label for="word">Enter a word to search for: </label>
  <input id="word" name="word" type="text">
  <button type="submit">Enter</button>
</form>
